*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{height: 100%;}


/* inicio classes auxiliares */
.center{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}
/* fim classes auxiliares */

header.header{
    background-color:rgb(180, 180, 180);
    padding: 10px 2% 30px 2%;
}

div.logo{
    width: 130px;
    height: 50px;
    /* background-color: purple; */
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.one{
    float: left;
    background-image: url('../images/logo1.png');
}

.two{
    float: right;
    background-image: url('../images/logo2.png');
}

section.cover-form{
    width: 100%;
}

div.bg{
    position: relative;
    height: 500px;
    /* padding: 15px; */
    background-image: url('../images/bg-form.jpg');
    background-size: cover;
    background-position: center;
}

div.bg__form{
    width: 90%;
    max-width: 400px;
    height: 105%;
    position: absolute;
    right: 40px;
    top: -2.5%;
    border: 0;
    box-shadow: 2px 2px 2px 2px rgb(180, 180, 180);
}

div.bg__form h2{
    padding: 25px 15px;
    color: black;
    font-size: 18px;
    font-weight: normal;
    background-color: rgb(210, 210, 210);
}

form.bg__form__form{
    padding: 24px;
    /* padding-top: 20px; */
    background-color: rgba(234, 236,239, 0.7);

}

form.bg__form__form label{
    font-size: 15px;
    color: #525252;
}

form.bg__form__form .form__wrapper:not(:first-child){
    margin-top: 30px;
}

form.bg__form__form .form__wrapper:last-child{
    margin-top: 20px;
}

form.bg__form__form input[type=text]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    line-height: 45px;
    padding-left: 10px;
    outline: none;
}

.form__button{
    border: 0;
    width: 100%;
    height: 45px;
}

.form__button input[type=submit]{
    border: 0;
    width: 100%;
    height: 45px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    background-color: #033c50;
    text-transform: uppercase;
}

.form__wrapper p{
    color: #525252;
}

section.call{
    width: 100%;
    text-align: center;
    color: white
}

section.call .center{
    width: 100%;
    padding: 50px 2%;
    background-color: #164e63;
    /* display: inline-block; */


}

section.call h2{
    width: 90%;
    max-width: 600px;
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

section.call p{
    width: 90%;
    max-width: 600px;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
}

section.mosaic .center{
        padding: 0;
}

div.flex-mosaic{
    display: flex;
}

div.flex-mosaic:nth-child(2n){
    flex-direction: row-reverse;
}

div.mosaic__item-1{
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 250px;
}


div.mosaic__item-2{
    width: 40%;
    padding: 80px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

footer.footer{
    text-align: center;
    padding: 20px 0;
}
.footer div.one{
    float: none;
    margin: 0 auto;
}
footer.footer p{
    margin-top: 8px;
}

@media screen and (max-width: 768px){
    div.bg__form{
        position: relative;
        right: 0;
        margin: 0 auto;
    }

    div.flex-mosaic{
        display: block;
    }
    
    div.mosaic__item-1{
        width: 100%;
    }
    
    
    div.mosaic__item-2{
        width: 100%;
    }
}

@media screen and (max-width: 376px){
    [class^="logo"]{
        float: none;
        display: block;
        margin: 0.2vh auto 0 auto;
    }
}